<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.marzhillstudios.quizme"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9"></uses-sdk>
    <supports-screens android:normalScreens="true" android:smallScreens="true"></supports-screens>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
      <uses-permission android:name="android.permission.CAMERA" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/QuizzerName"
                  android:name="QuizActivity"
                  android:description="@string/QuizzerDescription">
        </activity>
        <activity android:label="@string/CardManagerName"
                  android:name="CardManagerActivity"
                  android:description="@string/CardManagerDescription">
        </activity>
        <activity android:label="@string/NewCardCreatorName"
                  android:name="NewCardCreatorActivity"
                  android:description="@string/NewCardCreatorDescription">
        </activity>
        <activity android:label="@string/TextCardEditorName" 
        		  android:description="@string/TextCardEditorDescription" android:name="TextCardEditActivity">
            <intent-filter>
                <data android:mimeType="text/plain"></data>
                <action android:name="android.intent.action.EDIT"></action>
            </intent-filter>
        </activity>
        <activity android:name="RateCardActivity"></activity>
      </application>



</manifest> 
